/* font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/* reset */
@import "reset.css";
/* variables */
@import "variables.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #525252;
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}
