#no-mobile {
  background-color: var(--yellow);
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  top: 0;
}

@media screen and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}
